
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <div class="card-title truncate">
          <h3>{{ person.name }}</h3>
        </div>
        <div class="card-content">
          <ul>
            <li>Altura: {{ person.height }}</li>
            <li>Peso: {{ person.mass }}</li>
            <li>Color de pelo: {{ person.hair_color }}</li>
            <li>Color de piel: {{ person.skin_color }}</li>
            <li>Color de ojos: {{ person.eye_color }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
